<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>مشخصات استدیو</title>
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon.ico"/>
    <link href="../../assets/scss/loader.css" rel="stylesheet" type="text/css"/>
    <script src="../../assets/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">-->
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/scss/plugins.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="../../plugins/flexslider/flexslider.min.css">
    <style>
        .form-group {
            position: relative;
        }

        .form-group svg, .form-group svg {
            position: absolute;
            width: 20px;
            top: 11px;
            right: 9px;
            color: #8dbf42;
            fill: rgba(43, 226, 47, 0.24);
        }

        .form-group input, .form-group textarea {
            padding-right: 35px;
            border: none;
            border-bottom: 1px solid #191e3a;
            border-radius: 0;
        }

        .form-group input.form-control:focus, .form-group input.form-control:focus {
            box-shadow: none;
        }
    </style>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

</head>
<body>
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->

<!--  BEGIN NAVBAR  -->
<header></header>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN SIDEBAR  -->
    <aside></aside>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing">
                <div class="col-xl-10 col-lg-11 col-sm-12 mx-auto layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">عکس ها</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12">
                                <div id="main-slider" class="flexslider">
                                    <ul class="slides">
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-01.jpg"/>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-02.jpg"/>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-03.jpg"/>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-04.jpg"/>-->
                                        <!--</li>-->
                                        <!-- items mirrored twice, total of 12 -->
                                    </ul>
                                </div>
                                <div id="thumb-slider" class="flexslider">
                                    <ul class="slides">
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-01.jpg"/>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-02.jpg"/>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-03.jpg"/>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<img src="../../assets/img/mainPage/store/store-featured-04.jpg"/>-->
                                        <!--</li>-->
                                        <!-- items mirrored twice, total of 12 -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">نام</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12 studio name">استدیو پرواز</div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">دسترسی</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12 studio is_active">
                                <span class="badge">در دسترس</span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">وضعیت</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12 studio is_viewable">
                                <span class="badge">در انتظار تایید</span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">اجاره ساعتی</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12 studio price">320,000 تومان</div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">آدرس</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12 studio address">تهران، خیابان دماوند، تقاطع
                                رسالت، شماره 276، استدیو مبین
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-3 col-md-4 col-sm-3 col-12">توضیحات</div>
                            <div class="col-lg-9 col-md-8 col-sm-9 col-12 studio description">لورم ایپسوم متن ساختگی با
                                تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer></footer>
            <!--  END CONTENT AREA  -->

        </div>
    </div>
</div>
<!-- END MAIN CONTAINER -->

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="../../assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="../../bootstrap/js/popper.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../../assets/js/app.js"></script>
<script src="../../assets/js/custom.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="../../plugins/flexslider/jquery.flexslider.js"></script>
<script>

    let dataId, dataRow;

    $(document).ready(function () {
        $('#thumb-slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#main-slider'
        });

        $('#main-slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#thumb-slider"
        });

        $(window).on("load", function () {
            dataId = parseInt(localStorage.getItem("data-id"));
            $.ajaxSetup({
                headers: {
                    authorization: "Bearer " + localStorage.getItem("accessToken")
                },
            });

            $.get(__url__+"/studio/" + dataId + "/detail", function (response, status) {
                if (typeof response === 'object' && response !== null) {
                    $(".studio.name").text(response.studio.name);
                    $(".studio.address").text(response.studio.address);
                    $(".studio.price").text(response.studio.price);
                    const studio_is_active = $(".studio.is_active").find(".badge");
                    console.log("test : "+response.studio.is_active)
                    if(response.studio.is_active === 1){
                        studio_is_active.addClass("badge-success");
                        studio_is_active.text("در دسترس");
                    }else {
                        studio_is_active.addClass("badge-danger");
                        studio_is_active.text("غیر قابل دسترس");
                    }
                    const studio_is_viewable = $(".studio.is_viewable").find(".badge");
                    if(response.studio.is_viewable === "APPROVAL"){
                        studio_is_viewable.addClass("badge-success");
                        studio_is_viewable.text("تایید شده");
                    }else if(response.studio.is_viewable === "FAILED"){
                        studio_is_viewable.addClass("badge-danger");
                        studio_is_viewable.text("تایید نشده");
                    }else{
                        studio_is_viewable.addClass("badge-secondary");
                        studio_is_viewable.text("در انتظار تایید");
                    }

                    if(response.studio.images.length > 0){
                        let slideItem, slideImagePath;
                        const studioImages = response.studio.images;
                        for(let i=0;i < studioImages.length; i++){
                            const studioImage=studioImages[i].path;
                            slideImagePath = studioImage.substr(0,studioImage.indexOf("localhost")+9)+":8000"+studioImage.substr(studioImage.indexOf("localhost")+9);
                            console.log("slide Path :"+slideImagePath);
                            slideItem = $("<li></li>").append($("<img>").attr("src",slideImagePath));
                            $(".flexslider .slides").append(slideItem);
                        }
//                        $('#thumb-slider').flexslider();
                        $('#main-slider').flexslider();
                    }
                }
            });
        });
    });
</script>
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

</body>
</html>
