<div class="cart__table-wrap py-5">
    <div class="col-lg-5 col-md-7 col-12 mx-auto">
        <img src="assets/img/empty-cart.png" class="img-fluid pb-4">
        <h6 class="cart__empty-title">سبد خرید شما خالی است!</h6>
        <p class="cart__empty-text">می‌توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید</p>
        <ul class="redirect-links">
            <li><a href="artists.php">هنرمندان</a></li>
            <li><a href="store.php">فروشگاه</a></li>
            <li><a href="studios.php">استدیوها</a></li>
        </ul>
    </div>
</div>