:root {
    --dark-green: #19874b;
    --light-green: #42b95c;
    --bitter-green: #58a778;
    --light-purple: #c44dff;
    --grape-purple: #8483ae;
    --light-yellow: #f2e366;
    --light: #fceaff;
    --muted : #6c757d;
    --dark-1: #191919;
    --dark-2: #1d1d1d;
    --red-danger: #eb5757
}