form fieldset {
    width: 100%;
    background-color: #16151a;
}

/*Hide all except first fieldset*/
form fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
form .action-button {
    color: white;
    border: 0 none;
    font-size: 16px;
    cursor: pointer;
    height: 46px;
    padding: 0;
}

form .previous {
    background: #545153;
    color: white;
    border: 0 none;
    font-size: 16px;
    cursor: pointer;
    height: 46px;
    padding: 0;
}
form .action-button:hover,
form .action-button:focus {
    background: #52ba7e;
}

form .previous:hover,
form .previous:focus {
    background: #353334;
}
/*headings*/
.h2 {
    font-weight: 800;
    font-size: 30px;
    color: #2c3e50;
    margin: 10px 0;
}

.h3 {
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

.h1 {
    margin: 40px 0;
    font-weight: 800;
    font-size: 48px;
    color: #2fc877;
}